body{background: #fff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.7; margin: 0; padding: 30px;}
a{color: #4183c4; text-decoration: none;}
a:hover{text-decoration: underline;}
code{background-color: #f8f8f8; border: 1px solid #ddd; border-radius: 3px; font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace; font-size: 12px; margin: 0 2px; padding: 0px 5px;}
h1, h2, h3, h4{font-weight: bold; margin: 0 0 15px; padding: 0;}
h1{border-bottom: 1px solid #ddd; font-size: 2.5em; font-weight: bold; margin: 0 0 15px; padding: 0;}
h2{border-bottom: 1px solid #eee; font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.2em;}
p, ul{margin: 15px 0;}
ul{padding-left: 30px;}
form{width: 180px;}
textarea{width: 180px; height: 100px; border-color: #9898FB; outline: none;}
input[type="text"]{width: 184px; border-color: #9898FB; outline: none; padding: 0 !important; border-width: 1px;}
input[type="submit"]{background-color: #9898FB; width: 100px; border: none; color: white; outline: none; border-radius: 2px;}
